---
---

.spoiler {
    &:before {
        color: #f77;
        content: "Spoiler (hover or tap to reveal)";
    }
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0 25px 0;

    * {
        opacity: 0;
        transition: opacity 3s linear;
    }
} 

.spoiler:active, .spoiler:focus, .spoiler:hover {
    text-decoration: none;
    * { opacity: 1; }
}

.edit {
    height: 160px;

}

button.test {
    font-weight: bold;
    color: #000;
    background: #eee;
    border: 1px solid #777;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;

    &:hover{
        background: white;
    }
}

.center-text {
    text-align: center;
}

.color-red {
    color: red;
}